node-red/flows.json
[
  {
    "id": "tab-telemetry",
    "type": "tab",
    "label": "Telemetry Pipeline",
    "disabled": false,
    "info": "Subscribes to iot/# on Mosquitto, parses measurement topics, and writes to InfluxDB.\nLifecycle topics (status, events, commands) are silently dropped.\nMalformed messages are caught and logged to the debug panel."
  },
  {
    "id": "broker-mqtt",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "mqtt",
    "port": "1883",
    "clientid": "nodered",
    "usetls": false,
    "compatmode": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoConnect": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "cfg-influxdb",
    "type": "influxdb",
    "name": "InfluxDB",
    "hostname": "influxdb",
    "port": "8086",
    "database": "telemetry",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://influxdb:8086",
    "rejectUnauthorized": false
  },
  {
    "id": "mqtt-in-telemetry",
    "type": "mqtt in",
    "z": "tab-telemetry",
    "name": "All IoT Topics",
    "topic": "iot/#",
    "qos": "1",
    "datatype": "json",
    "broker": "broker-mqtt",
    "nl": false,
    "rap": false,
    "rh": 0,
    "x": 130,
    "y": 120,
    "wires": [["fn-parse-topic"]]
  },
  {
    "id": "fn-parse-topic",
    "type": "function",
    "z": "tab-telemetry",
    "name": "Parse Topic & Validate",
    "func": "const MEASUREMENT_TYPES = ['temperature', 'humidity', 'pressure', 'voltage', 'light'];\nconst segments = msg.topic.split('/');\n\n// Must be exactly 6 segments: iot/{site}/{gateway_id}/{location}/{device_id}/{measurement}\nif (segments.length !== 6 || segments[0] !== 'iot') {\n    // Route to output 2 so the drop is visible in the debug sidebar\n    return [null, { payload: 'Dropped — bad topic structure: ' + msg.topic }];\n}\n\nconst [, site, gateway_id, location, device_id, measurement] = segments;\n\n// Silently drop lifecycle topics (status, events, commands)\nif (!MEASUREMENT_TYPES.includes(measurement)) {\n    return;\n}\n\nconst payload = msg.payload;\n\nif (typeof payload.value !== 'number') {\n    node.error('Missing or non-numeric value in payload on topic ' + msg.topic, msg);\n    return;\n}\n\nif (!payload.timestamp) {\n    node.error('Missing timestamp in payload on topic ' + msg.topic, msg);\n    return;\n}\n\nconst ts = new Date(payload.timestamp);\nif (isNaN(ts.getTime())) {\n    node.error('Invalid timestamp \"' + payload.timestamp + '\" on topic ' + msg.topic, msg);\n    return;\n}\n\nmsg.parsed = {\n    site: site,\n    gateway_id: gateway_id,\n    location: location,\n    device_id: device_id,\n    measurement: measurement,\n    value: payload.value,\n    unit: payload.unit || '',\n    timestamp: ts\n};\n\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 120,
    "wires": [["fn-build-point"], ["debug-dropped"]]
  },
  {
    "id": "debug-dropped",
    "type": "debug",
    "z": "tab-telemetry",
    "name": "Dropped Messages",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 590,
    "y": 200,
    "wires": []
  },
  {
    "id": "fn-build-point",
    "type": "function",
    "z": "tab-telemetry",
    "name": "Build InfluxDB Point",
    "func": "const { site, gateway_id, location, device_id, measurement, value, unit, timestamp } = msg.parsed;\n\nmsg.payload = [{\n    measurement: 'sensor_reading',\n    tags: {\n        site: site,\n        gateway_id: gateway_id,\n        location: location,\n        device_id: device_id,\n        measurement_type: measurement,\n        unit: unit\n    },\n    fields: {\n        value: value\n    },\n    timestamp: timestamp\n}];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 120,
    "wires": [["influxdb-write"]]
  },
  {
    "id": "influxdb-write",
    "type": "influxdb batch",
    "z": "tab-telemetry",
    "influxdb": "cfg-influxdb",
    "name": "Write to InfluxDB",
    "measurement": "",
    "precision": "ms",
    "retentionPolicy": "",
    "database": "telemetry",
    "retentionPolicyV18Flux": "",
    "org": "iot",
    "bucket": "telemetry",
    "x": 820,
    "y": 120,
    "wires": []
  },
  {
    "id": "catch-errors",
    "type": "catch",
    "z": "tab-telemetry",
    "name": "Catch Errors",
    "scope": null,
    "uncaught": false,
    "x": 360,
    "y": 260,
    "wires": [["debug-errors"]]
  },
  {
    "id": "debug-errors",
    "type": "debug",
    "z": "tab-telemetry",
    "name": "Log Errors",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 590,
    "y": 260,
    "wires": []
  },
  {
    "id": "tab-email-alerts",
    "type": "tab",
    "label": "Email Alerts",
    "disabled": false,
    "info": "Flow A: Twice-daily sensor summary email (08:00 and 20:00).\nFlow B: Watchdog — alerts if no data arrives for 1 hour.\nBoth send via Gmail. Configure credentials in the email node."
  },
  {
    "id": "inj-report-08",
    "type": "inject",
    "z": "tab-email-alerts",
    "name": "Daily report 08:00",
    "props": [{"p": "payload", "v": "", "vt": "date"}],
    "repeat": "",
    "crontab": "0 8 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 100,
    "wires": [["ifx-report-query"]]
  },
  {
    "id": "inj-report-20",
    "type": "inject",
    "z": "tab-email-alerts",
    "name": "Daily report 20:00",
    "props": [{"p": "payload", "v": "", "vt": "date"}],
    "repeat": "",
    "crontab": "0 20 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 160,
    "wires": [["ifx-report-query"]]
  },
  {
    "id": "ifx-report-query",
    "type": "influxdb in",
    "z": "tab-email-alerts",
    "influxdb": "cfg-influxdb",
    "name": "Query last readings",
    "query": "from(bucket: \"telemetry\")\n  |> range(start: -12h)\n  |> filter(fn: (r) => r._measurement == \"sensor_reading\")\n  |> group(columns: [\"gateway_id\", \"location\", \"device_id\", \"measurement_type\", \"unit\"])\n  |> reduce(\n      identity: {min: 9999999.0, max: -9999999.0, current: 0.0, lastTime: \"\"},\n      fn: (r, accumulator) => ({\n        min: if r._value < accumulator.min then r._value else accumulator.min,\n        max: if r._value > accumulator.max then r._value else accumulator.max,\n        current: r._value,\n        lastTime: string(v: r._time)\n      })\n    )",
    "rawOutput": false,
    "precision": "",
    "retentionPolicy": "",
    "org": "iot",
    "x": 400,
    "y": 130,
    "wires": [["fn-format-report"]]
  },
  {
    "id": "fn-format-report",
    "type": "function",
    "z": "tab-email-alerts",
    "name": "Format summary email",
    "func": "// Recipient is set on the email node itself (node config, not msg.to).\nconst rows = msg.payload || [];\nconst nowDate = new Date();\n\n// Determine which 12h period this report covers based on Helsinki hour.\n// Inject fires at 08:00 (covers 20:00-08:00) or 20:00 (covers 08:00-20:00).\nconst etHour = parseInt(nowDate.toLocaleString('fi-FI', {timeZone: 'Europe/Helsinki', hour: 'numeric', hour12: false}));\nconst isEvening = etHour >= 14;\nconst periodLabel = isEvening ? '08:00 - 20:00' : '20:00 - 08:00';\nconst dateLabel = nowDate.toLocaleDateString('fi-FI', {timeZone: 'Europe/Helsinki'});\nconst now = nowDate.toLocaleString('fi-FI', {timeZone: 'Europe/Helsinki'});\n\nconst fmt = v => typeof v === 'number' ? v.toFixed(2) : '-';\n\n// Group rows by gateway_id → location → device_id\nconst byGateway = {};\nfor (const r of rows) {\n    const gw  = r.gateway_id || 'unknown';\n    const loc = r.location   || 'unknown';\n    const dev = r.device_id  || 'unknown';\n    if (!byGateway[gw]) byGateway[gw] = {};\n    if (!byGateway[gw][loc]) byGateway[gw][loc] = {};\n    if (!byGateway[gw][loc][dev]) byGateway[gw][loc][dev] = [];\n    byGateway[gw][loc][dev].push(r);\n}\n\nlet html = '<h2 style=\"font-family:sans-serif\">IoT Sensor Report</h2>';\nhtml += '<p style=\"font-family:sans-serif;color:#555\">Period: <strong>' + periodLabel + '</strong> &nbsp;|&nbsp; ' + dateLabel + '</p>';\nhtml += '<p style=\"font-family:sans-serif;color:#999;font-size:12px\">Generated: ' + now + '</p>';\n\nif (rows.length === 0) {\n    html += '<p style=\"font-family:sans-serif;color:#c00\"><strong>No data received in this period.</strong></p>';\n} else {\n    for (const [gw, locations] of Object.entries(byGateway)) {\n        html += '<h3 style=\"font-family:sans-serif;color:#333\">' + gw + '</h3>';\n        for (const [loc, devices] of Object.entries(locations)) {\n            html += '<h4 style=\"font-family:sans-serif;color:#555;margin-left:16px\">' + loc + '</h4>';\n            for (const [device, readings] of Object.entries(devices)) {\n                html += '<p style=\"font-family:sans-serif;margin-left:32px\"><strong>' + device + '</strong></p>';\n                html += '<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;font-family:sans-serif;font-size:14px;margin-left:32px\">';\n                html += '<tr style=\"background:#f0f0f0\"><th>Measurement</th><th>Min</th><th>Max</th><th>Current</th><th>Unit</th><th>Last reading</th></tr>';\n                for (const r of readings) {\n                    const lastTime = r.lastTime ? new Date(r.lastTime).toLocaleString('fi-FI', {timeZone: 'Europe/Helsinki'}) : '-';\n                    html += '<tr>';\n                    html += '<td>' + (r.measurement_type || '-') + '</td>';\n                    html += '<td>' + fmt(r.min) + '</td>';\n                    html += '<td>' + fmt(r.max) + '</td>';\n                    html += '<td><strong>' + fmt(r.current) + '</strong></td>';\n                    html += '<td>' + (r.unit || '-') + '</td>';\n                    html += '<td>' + lastTime + '</td>';\n                    html += '</tr>';\n                }\n                html += '</table><br>';\n            }\n        }\n    }\n}\n\nmsg.topic = 'IoT Report ' + periodLabel + ' - ' + dateLabel;\nmsg.payload = html;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 630,
    "y": 130,
    "wires": [["email-gmail-send"]]
  },
  {
    "id": "inj-watchdog",
    "type": "inject",
    "z": "tab-email-alerts",
    "name": "Watchdog (every 5 min)",
    "props": [{"p": "payload", "v": "", "vt": "date"}],
    "repeat": "300",
    "crontab": "",
    "once": true,
    "onceDelay": 5,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 320,
    "wires": [["ifx-watchdog-query"]]
  },
  {
    "id": "ifx-watchdog-query",
    "type": "influxdb in",
    "z": "tab-email-alerts",
    "influxdb": "cfg-influxdb",
    "name": "Count records last 1h",
    "query": "from(bucket: \"telemetry\")\n  |> range(start: -1h)\n  |> filter(fn: (r) => r._measurement == \"sensor_reading\")\n  |> count()",
    "rawOutput": false,
    "precision": "",
    "retentionPolicy": "",
    "org": "iot",
    "x": 400,
    "y": 320,
    "wires": [["fn-watchdog-check"]]
  },
  {
    "id": "fn-watchdog-check",
    "type": "function",
    "z": "tab-email-alerts",
    "name": "Check & alert",
    "func": "// Recipient is set on the email node itself (node config, not msg.to).\n// 4-hour cooldown between repeated alerts.\nconst ALERT_COOLDOWN_HOURS = 4;\n\nconst rows = msg.payload || [];\nconst total = rows.reduce((s, r) => s + (r._value || 0), 0);\n\nif (total > 0) {\n    // Data is flowing — clear alert state so next outage fires fresh\n    flow.set('alertSent', false);\n    return null;\n}\n\n// No data in last 1 hour — check cooldown\nconst lastSent = flow.get('lastAlertSent') || 0;\nconst hoursSince = (Date.now() - lastSent) / 3600000;\n\nif (hoursSince < ALERT_COOLDOWN_HOURS) {\n    return null;  // suppress: already alerted recently\n}\n\nflow.set('lastAlertSent', Date.now());\nflow.set('alertSent', true);\n\nconst sinceWhen = new Date(Date.now() - 3600000).toLocaleString('fi-FI', { timeZone: 'Europe/Helsinki' });\nmsg.topic = '⚠️ IoT Alert — No sensor data for 1+ hour';\nmsg.payload = `No sensor measurements have been received since ${sinceWhen} (EET).\\n\\nPlease check the gateway and sensor node.`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 630,
    "y": 320,
    "wires": [["email-gmail-send"]]
  },
  {
    "id": "email-gmail-send",
    "type": "e-mail",
    "z": "tab-email-alerts",
    "server": "smtp.gmail.com",
    "port": "465",
    "secure": true,
    "tls": true,
    "name": "Gmail",
    "dname": "",
    "x": 840,
    "y": 200,
    "wires": []
  }
]
