node-red/flows.json
[
  {
    "id": "tab-telemetry",
    "type": "tab",
    "label": "Telemetry Pipeline",
    "disabled": false,
    "info": "Subscribes to iot/# on Mosquitto, parses measurement topics, and writes to InfluxDB.\nLifecycle topics (status, events, commands) are silently dropped.\nMalformed messages are caught and logged to the debug panel."
  },
  {
    "id": "broker-mqtt",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "mqtt",
    "port": "1883",
    "clientid": "nodered",
    "usetls": false,
    "compatmode": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoConnect": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "cfg-influxdb",
    "type": "influxdb",
    "name": "InfluxDB",
    "hostname": "influxdb",
    "port": "8086",
    "database": "telemetry",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://influxdb:8086",
    "rejectUnauthorized": false
  },
  {
    "id": "mqtt-in-telemetry",
    "type": "mqtt in",
    "z": "tab-telemetry",
    "name": "All IoT Topics",
    "topic": "iot/#",
    "qos": "1",
    "datatype": "json",
    "broker": "broker-mqtt",
    "nl": false,
    "rap": false,
    "rh": 0,
    "x": 130,
    "y": 120,
    "wires": [["fn-parse-topic"]]
  },
  {
    "id": "fn-parse-topic",
    "type": "function",
    "z": "tab-telemetry",
    "name": "Parse Topic & Validate",
    "func": "const MEASUREMENT_TYPES = ['temperature', 'humidity', 'pressure', 'voltage', 'light'];\nconst segments = msg.topic.split('/');\n\n// Must be exactly 6 segments: iot/{site}/{gateway_id}/{location}/{device_id}/{measurement}\nif (segments.length !== 6 || segments[0] !== 'iot') {\n    // Route to output 2 so the drop is visible in the debug sidebar\n    return [null, { payload: 'Dropped — bad topic structure: ' + msg.topic }];\n}\n\nconst [, site, gateway_id, location, device_id, measurement] = segments;\n\n// Silently drop lifecycle topics (status, events, commands)\nif (!MEASUREMENT_TYPES.includes(measurement)) {\n    return;\n}\n\nconst payload = msg.payload;\n\nif (typeof payload.value !== 'number') {\n    node.error('Missing or non-numeric value in payload on topic ' + msg.topic, msg);\n    return;\n}\n\nif (!payload.timestamp) {\n    node.error('Missing timestamp in payload on topic ' + msg.topic, msg);\n    return;\n}\n\nconst ts = new Date(payload.timestamp);\nif (isNaN(ts.getTime())) {\n    node.error('Invalid timestamp \"' + payload.timestamp + '\" on topic ' + msg.topic, msg);\n    return;\n}\n\nmsg.parsed = {\n    site: site,\n    gateway_id: gateway_id,\n    location: location,\n    device_id: device_id,\n    measurement: measurement,\n    value: payload.value,\n    unit: payload.unit || '',\n    timestamp: ts\n};\n\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 120,
    "wires": [["fn-build-point"], ["debug-dropped"]]
  },
  {
    "id": "debug-dropped",
    "type": "debug",
    "z": "tab-telemetry",
    "name": "Dropped Messages",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 590,
    "y": 200,
    "wires": []
  },
  {
    "id": "fn-build-point",
    "type": "function",
    "z": "tab-telemetry",
    "name": "Build InfluxDB Point",
    "func": "const { site, gateway_id, location, device_id, measurement, value, unit, timestamp } = msg.parsed;\n\nmsg.payload = [{\n    measurement: 'sensor_reading',\n    tags: {\n        site: site,\n        gateway_id: gateway_id,\n        location: location,\n        device_id: device_id,\n        measurement_type: measurement,\n        unit: unit\n    },\n    fields: {\n        value: value\n    },\n    timestamp: timestamp\n}];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 120,
    "wires": [["influxdb-write"]]
  },
  {
    "id": "influxdb-write",
    "type": "influxdb batch",
    "z": "tab-telemetry",
    "influxdb": "cfg-influxdb",
    "name": "Write to InfluxDB",
    "measurement": "",
    "precision": "ms",
    "retentionPolicy": "",
    "database": "telemetry",
    "retentionPolicyV18Flux": "",
    "org": "iot",
    "bucket": "telemetry",
    "x": 820,
    "y": 120,
    "wires": []
  },
  {
    "id": "catch-errors",
    "type": "catch",
    "z": "tab-telemetry",
    "name": "Catch Errors",
    "scope": null,
    "uncaught": false,
    "x": 360,
    "y": 260,
    "wires": [["debug-errors"]]
  },
  {
    "id": "debug-errors",
    "type": "debug",
    "z": "tab-telemetry",
    "name": "Log Errors",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 590,
    "y": 260,
    "wires": []
  },
  {
    "id": "tab-email-alerts",
    "type": "tab",
    "label": "Email Alerts",
    "disabled": false,
    "info": "Flow A: Twice-daily sensor summary email (08:00 and 20:00).\nFlow B: Watchdog — alerts if no data arrives for 1 hour.\nBoth send via Gmail. Configure credentials in the email node."
  },
  {
    "id": "inj-report-08",
    "type": "inject",
    "z": "tab-email-alerts",
    "name": "Daily report 08:00",
    "props": [{"p": "payload", "v": "", "vt": "date"}],
    "repeat": "",
    "crontab": "0 8 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 100,
    "wires": [["ifx-report-query"]]
  },
  {
    "id": "inj-report-20",
    "type": "inject",
    "z": "tab-email-alerts",
    "name": "Daily report 20:00",
    "props": [{"p": "payload", "v": "", "vt": "date"}],
    "repeat": "",
    "crontab": "0 20 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 160,
    "wires": [["ifx-report-query"]]
  },
  {
    "id": "ifx-report-query",
    "type": "influxdb in",
    "z": "tab-email-alerts",
    "influxdb": "cfg-influxdb",
    "name": "Query last readings",
    "query": "from(bucket: \"telemetry\")\n  |> range(start: -12h)\n  |> filter(fn: (r) => r._measurement == \"sensor_reading\")\n  |> last()",
    "rawOutput": false,
    "precision": "",
    "retentionPolicy": "",
    "org": "iot",
    "x": 400,
    "y": 130,
    "wires": [["fn-format-report"]]
  },
  {
    "id": "fn-format-report",
    "type": "function",
    "z": "tab-email-alerts",
    "name": "Format summary email",
    "func": "// ── recipient ── set your address here ──────────────────────────\nconst RECIPIENT = 'YOUR_EMAIL@gmail.com';\n// ─────────────────────────────────────────────────────────────────\n\nconst rows = msg.payload || [];\nconst now = new Date().toLocaleString('fi-FI', { timeZone: 'Europe/Helsinki' });\n\n// Group rows by device_id\nconst byDevice = {};\nfor (const r of rows) {\n    const dev = r.device_id || 'unknown';\n    if (!byDevice[dev]) byDevice[dev] = [];\n    byDevice[dev].push(r);\n}\n\nlet html = `<h2 style=\"font-family:sans-serif\">IoT Sensor Report</h2>`;\nhtml += `<p style=\"font-family:sans-serif;color:#555\">Generated: ${now}</p>`;\n\nif (rows.length === 0) {\n    html += '<p style=\"font-family:sans-serif;color:#c00\"><strong>No data received in the last 12 hours.</strong></p>';\n} else {\n    for (const [device, readings] of Object.entries(byDevice)) {\n        html += `<h3 style=\"font-family:sans-serif\">${device}</h3>`;\n        html += '<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;font-family:sans-serif;font-size:14px\">';\n        html += '<tr style=\"background:#f0f0f0\"><th>Measurement</th><th>Value</th><th>Unit</th><th>Time (EET)</th></tr>';\n        for (const r of readings) {\n            const t = r._time ? new Date(r._time).toLocaleString('fi-FI', { timeZone: 'Europe/Helsinki' }) : '—';\n            const val = typeof r._value === 'number' ? r._value.toFixed(2) : (r._value || '—');\n            html += `<tr><td>${r.measurement_type || '—'}</td><td>${val}</td><td>${r.unit || '—'}</td><td>${t}</td></tr>`;\n        }\n        html += '</table><br>';\n    }\n}\n\nmsg.to = RECIPIENT;\nmsg.topic = 'IoT Sensor Report — ' + now;\nmsg.payload = html;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 630,
    "y": 130,
    "wires": [["email-gmail-send"]]
  },
  {
    "id": "inj-watchdog",
    "type": "inject",
    "z": "tab-email-alerts",
    "name": "Watchdog (every 5 min)",
    "props": [{"p": "payload", "v": "", "vt": "date"}],
    "repeat": "300",
    "crontab": "",
    "once": true,
    "onceDelay": 5,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 320,
    "wires": [["ifx-watchdog-query"]]
  },
  {
    "id": "ifx-watchdog-query",
    "type": "influxdb in",
    "z": "tab-email-alerts",
    "influxdb": "cfg-influxdb",
    "name": "Count records last 1h",
    "query": "from(bucket: \"telemetry\")\n  |> range(start: -1h)\n  |> filter(fn: (r) => r._measurement == \"sensor_reading\")\n  |> count()",
    "rawOutput": false,
    "precision": "",
    "retentionPolicy": "",
    "org": "iot",
    "x": 400,
    "y": 320,
    "wires": [["fn-watchdog-check"]]
  },
  {
    "id": "fn-watchdog-check",
    "type": "function",
    "z": "tab-email-alerts",
    "name": "Check & alert",
    "func": "// ── recipient ── set your address here ──────────────────────────\nconst RECIPIENT = 'YOUR_EMAIL@gmail.com';\n// 4-hour cooldown between repeated alerts\nconst ALERT_COOLDOWN_HOURS = 4;\n// ─────────────────────────────────────────────────────────────────\n\nconst rows = msg.payload || [];\nconst total = rows.reduce((s, r) => s + (r._value || 0), 0);\n\nif (total > 0) {\n    // Data is flowing — clear alert state so next outage fires fresh\n    flow.set('alertSent', false);\n    return null;\n}\n\n// No data in last 1 hour — check cooldown\nconst lastSent = flow.get('lastAlertSent') || 0;\nconst hoursSince = (Date.now() - lastSent) / 3600000;\n\nif (hoursSince < ALERT_COOLDOWN_HOURS) {\n    return null;  // suppress: already alerted recently\n}\n\nflow.set('lastAlertSent', Date.now());\nflow.set('alertSent', true);\n\nconst sinceWhen = new Date(Date.now() - 3600000).toLocaleString('fi-FI', { timeZone: 'Europe/Helsinki' });\nmsg.to = RECIPIENT;\nmsg.topic = '⚠️ IoT Alert — No sensor data for 1+ hour';\nmsg.payload = `No sensor measurements have been received since ${sinceWhen} (EET).\\n\\nPlease check the gateway and sensor node.`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 630,
    "y": 320,
    "wires": [["email-gmail-send"]]
  },
  {
    "id": "email-gmail-send",
    "type": "e-mail",
    "z": "tab-email-alerts",
    "server": "smtp.gmail.com",
    "port": "465",
    "secure": true,
    "tls": true,
    "name": "Gmail",
    "dname": "",
    "x": 840,
    "y": 200,
    "wires": []
  }
]
