node-red/flows.json
[
  {
    "id": "tab-telemetry",
    "type": "tab",
    "label": "Telemetry Pipeline",
    "disabled": false,
    "info": "Subscribes to iot/# on Mosquitto, parses measurement topics, and writes to InfluxDB.\nLifecycle topics (status, events, commands) are silently dropped.\nMalformed messages are caught and logged to the debug panel."
  },
  {
    "id": "broker-mqtt",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "mqtt",
    "port": "1883",
    "clientid": "nodered",
    "usetls": false,
    "compatmode": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoConnect": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "cfg-influxdb",
    "type": "influxdb",
    "name": "InfluxDB",
    "hostname": "influxdb",
    "port": "8086",
    "database": "telemetry",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://influxdb:8086",
    "rejectUnauthorized": false
  },
  {
    "id": "mqtt-in-telemetry",
    "type": "mqtt in",
    "z": "tab-telemetry",
    "name": "All IoT Topics",
    "topic": "iot/#",
    "qos": "1",
    "datatype": "json",
    "broker": "broker-mqtt",
    "nl": false,
    "rap": false,
    "rh": 0,
    "x": 130,
    "y": 120,
    "wires": [["fn-parse-topic"]]
  },
  {
    "id": "fn-parse-topic",
    "type": "function",
    "z": "tab-telemetry",
    "name": "Parse Topic & Validate",
    "func": "const MEASUREMENT_TYPES = ['temperature', 'humidity', 'pressure', 'voltage', 'light'];\nconst segments = msg.topic.split('/');\n\n// Must be exactly 6 segments: iot/{site}/{gateway_id}/{location}/{device_id}/{measurement}\nif (segments.length !== 6 || segments[0] !== 'iot') {\n    // Route to output 2 so the drop is visible in the debug sidebar\n    return [null, { payload: 'Dropped — bad topic structure: ' + msg.topic }];\n}\n\nconst [, site, gateway_id, location, device_id, measurement] = segments;\n\n// Silently drop lifecycle topics (status, events, commands)\nif (!MEASUREMENT_TYPES.includes(measurement)) {\n    return;\n}\n\nconst payload = msg.payload;\n\nif (typeof payload.value !== 'number') {\n    node.error('Missing or non-numeric value in payload on topic ' + msg.topic, msg);\n    return;\n}\n\nif (!payload.timestamp) {\n    node.error('Missing timestamp in payload on topic ' + msg.topic, msg);\n    return;\n}\n\nconst ts = new Date(payload.timestamp);\nif (isNaN(ts.getTime())) {\n    node.error('Invalid timestamp \"' + payload.timestamp + '\" on topic ' + msg.topic, msg);\n    return;\n}\n\nmsg.parsed = {\n    site: site,\n    gateway_id: gateway_id,\n    location: location,\n    device_id: device_id,\n    measurement: measurement,\n    value: payload.value,\n    unit: payload.unit || '',\n    timestamp: ts\n};\n\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 120,
    "wires": [["fn-build-point"], ["debug-dropped"]]
  },
  {
    "id": "debug-dropped",
    "type": "debug",
    "z": "tab-telemetry",
    "name": "Dropped Messages",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 590,
    "y": 200,
    "wires": []
  },
  {
    "id": "fn-build-point",
    "type": "function",
    "z": "tab-telemetry",
    "name": "Build InfluxDB Point",
    "func": "const { site, gateway_id, location, device_id, measurement, value, unit, timestamp } = msg.parsed;\n\nmsg.payload = [{\n    measurement: 'sensor_reading',\n    tags: {\n        site: site,\n        gateway_id: gateway_id,\n        location: location,\n        device_id: device_id,\n        measurement_type: measurement,\n        unit: unit\n    },\n    fields: {\n        value: value\n    },\n    timestamp: timestamp\n}];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 120,
    "wires": [["influxdb-write"]]
  },
  {
    "id": "influxdb-write",
    "type": "influxdb out",
    "z": "tab-telemetry",
    "influxdb": "cfg-influxdb",
    "name": "Write to InfluxDB",
    "measurement": "",
    "precision": "ms",
    "retentionPolicy": "",
    "database": "telemetry",
    "retentionPolicyV18Flux": "",
    "org": "iot",
    "bucket": "telemetry",
    "x": 820,
    "y": 120,
    "wires": []
  },
  {
    "id": "catch-errors",
    "type": "catch",
    "z": "tab-telemetry",
    "name": "Catch Errors",
    "scope": null,
    "uncaught": false,
    "x": 360,
    "y": 260,
    "wires": [["debug-errors"]]
  },
  {
    "id": "debug-errors",
    "type": "debug",
    "z": "tab-telemetry",
    "name": "Log Errors",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 590,
    "y": 260,
    "wires": []
  }
]
